body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  margin: 0 auto;
}
nav {text-align: center;}
nav > a {
  display: center;
  justify-content: center;
}

nav > a { 
  padding: 10px; 
  background-color: grey; 
}

figcaption { text-align: center;}

p {
  text-align: center;
  font-size: smaller;
}


#featured-property p {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}



 
#details {
  display: flex;
  justify-content: space-between;
}

#details > div {
  background-color: red;
  text-align: center;
  width: 25%;
}